@page "/login"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

Login: <br>
<input type="text" name="login" id="login" @bind-value="login" />
<br>
Password: <br>
<input type="text" name="password" id="password" @bind-value="password" />
<br>
<button class="btn btn-primary" @onclick="loginRequest">Log in</button>

@code {
    string login, password;
    async void loginRequest()
    {
        var postBody = new LoginRequest { login = login, password = password };
        using (var response = await Http.PostAsJsonAsync<LoginRequest>($"{@MyConstatns.serverAddress}/user/login", postBody))
        {
            var localToken = (await response.Content.ReadFromJsonAsync<TokenResponse>()).token;
            await localStorage.SetItemAsync<string>("token", localToken);
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", await localStorage.GetItemAsync<string>("token"));
        }
        using (var response = await Http.GetAsync($"{@MyConstatns.serverAddress}/user/getMe"))
        {
            var localUser = await response.Content.ReadFromJsonAsync<LocalUser>();
            await localStorage.SetItemAsync<LocalUser>("localUser", localUser);
            Console.WriteLine(await localStorage.GetItemAsync<LocalUser>("localUser"));
        }
    }
}