@page "/login"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

Login: <br>
<input type="text" name="login" id="login" @bind-value="login" />
<br>
Password: <br>
<input type="text" name="password" id="password" @bind-value="password" />
<br>
<button class="btn btn-primary" @onclick="loginRequest">Log in</button>
<span>@localToken</span>

@code {
    string login, password, localToken;
    async void loginRequest()
    {
        var postBody = new LoginRequest { login = login, password = password };
        using var response = await Http.PostAsJsonAsync<LoginRequest>($"{@MyConstatns.serverAddress}/user/login", postBody);
        localToken = (await response.Content.ReadFromJsonAsync<TokenResponse>()).token;
        await localStorage.SetItemAsync<string>("token", localToken);
    }
}